body {
  display: flex;
  /* justify-content: space-between; */
}

text {
  height: 45;
  width: 45;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

rect {
  border: 1px solid black;
  text-align: center;
}