body {
  display: flex;
  /* justify-content: space-between; */
  margin: 0 180px;
}

h3 {
  font-family: sans-serif;
  position: absolute;
  width: 400px;
  top: 2px;
  left: 181px;
}

.description {
  position: absolute;
  font-family: sans-serif;
  width: 500px;
  top: 45px;
  left: 181px;
}

.description p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  height: 100px;
  width: 180px;
  top: 30px;
  /* left: 605px; */
  left: 610px;
  /* display: none; */
}

.finals-logo {
  position: absolute;
  height: 100px;
  width: 80px;
  top: 30px;
  /* left: 840px; */
  left: 880px;
  /* display: none; */
}

.sort {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 97px;
  left: 181px;
  /* width: 500px; */
}

#stat {
  /* display: inline-block; */
  position: absolute;
  appearance: none;
  font-size: 12px;
  height: 30px;
  width: 120px;
  padding: 3px;
  top: 7px;
  left: 100px;
  /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
}

#stat:hover {
  border: 1px solid #368CD9;
  transition: .3s;
  opacity: 0.8;
}

#stat:focus {
  border: 2px solid #368CD9;
  outline: none;
}

div[class^="chart"] {
  /* background: red; */
  left: 200px;
}

.years {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 634px;
  top: 110px;
  top: 140px;
  /* left: 181px; */
  left: 181px;
}

svg {
  overflow: visible;
}

text {
  font-size: 12px;
  font-family: sans-serif;
  pointer-events: none;
}

.overlays {
  pointer-events: none;
}

.name {
  margin-bottom: 8px;
}

.stats {
  overflow: hidden;
}

.stats div {
  width: 200px;
  z-index: 10;
}

.popout {
  font-family: sans-serif;
  text-align: center;
  align-content: center;
  padding-bottom: 10px;
}

.age {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.popout p {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 3px;
}

