body {
  display: flex;
  /* justify-content: space-between; */
  margin: 0 180px;
}

h3 {
  font-family: sans-serif;
  position: absolute;
  width: 400px;
}

.description {
  position: absolute;
  font-family: sans-serif;
  width: 500px;
  top: 40px;
}

.description p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  height: 100px;
  width: 180px;
  top: 8px;
  left: 640px;
  /* display: none; */
}

.finals-logo {
  position: absolute;
  height: 100px;
  width: 80px;
  top: 8px;
  left: 840px;
  /* display: none; */
}

.years {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 12px;
  width: 635px;
  top: 100px;
}

svg {
  overflow: visible;
}

.chart18 {
  align-items: right;
}

text {
  font-size: 12px;
  font-family: sans-serif;
  pointer-events: none;
}

.overlays {
  pointer-events: none;
}

.name {
  margin-bottom: 8px;
}

.stats {
  overflow: hidden;
}

.stats div {
  width: 200px;
  z-index: 10;
}

.popout {
  font-family: sans-serif;
  text-align: center;
  align-content: center;
  padding-bottom: 10px;
}

.age {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.popout p {
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 3px;
}

